@charset "utf-8";
 
body{
	font: 0.9em Tahoma, Verdana, Arial;
	line-height:160%;
	background: #ddd;
}
 
#container{
	width: 1000px;
	padding: 25px;
	background: #fff;
	margin: 100px auto 0 auto;
}
 
h4{
	margin: 0;
}
 
ul{
	padding: 0;
}
 
ul li{
	display: inline-block;
	padding: 15px;
	list-style: none;
}

.main {
	width: 1000px;
	padding: 25px;
	background: #eee;
	margin: 0 auto;
}

.main li, label {
	display: block;
}

.error {
	color: red;
}

.success {
	color: green;
}

input[type=checkbox], input[type=checkbox] + label {
	display: inline;
}
